body {
  background-color: #1a1a1a;
}

.section-social-network {
  display: flex;
  flex-direction: row-reverse;
}
.icon-social-network {
  height: 32px;
  width: 32px;
  margin: 10px;
}
.icon-social-network-color {
  color: #c700ff;
}
.flex-row {
    display: flex;
}
.side-large {
  text-align: center;
  text-transform: uppercase;
  color: #c700ff;
}
.side {
  flex: 0 0 300px;
}
.content {
  flex: 1 auto;
}
.main {
  width: 100%;
  max-width: 100%;
  text-align: center;
}

@media screen and (max-width: 930px) {
  .flex-row {
      flex-direction: column;
  }
}
