@import url("../common-sections.css");

h2:hover, h2:focus {
  text-decoration: underline;
}

h2 a {
  color: var(--YELLOW-COLOR);
  text-decoration: none;
}

.description {
  margin-top: 0px;
}

.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}
