@import url("../../base.css");

input[type="radio"]:checked {
  border: 6px solid var(--YELLOW-COLOR);
}

fieldset {
  border: 1px solid var(--GREEN-COLOR);
}

fieldset legend {
  padding: 6px;
}

.hidden {
  display: none;
}

.no-hover{
    background-color: var(--BACKGROUND-COLOR);
}

@media screen and (max-width: 410px) {

  .table-categories {
    width: 100%;
  }

  .table-conversor-output {
    width: 100%;
  }

  .table-categories th, .table-categories td {
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .table-conversor-output th, .table-conversor-output td {
    padding-left: 5px;
    padding-right: 5px;
  }
}


@media screen and (max-width: 930px) {

  .table-categories {
    width: 100%;
  }

}

