:root {
  --BACKGROUND-COLOR: #1a1a1a;
  --BUTTON-COLOR: #4caf50;
  --FONT-SIZE: 16px;
  --FONT-FAMILY: sans-serif;
  --GREEN-COLOR: #30ec30;
  --GREY-COLOR: #aaa;
  --INPUT-BACKGROUND-COLOR: #eee5e4;
  --BLUE-COLOR: #63c0f5;
  --YELLOW-COLOR: #b5e853;
  --WHITE-COLOR: #eaeaea;
  /* https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element
   * Convert a hexadecimal color code to a CSS filter:
   * https://codepen.io/sosuke/pen/Pjoqqp
  */
  --GREEN-COLOR-FILTER: invert(81%) sepia(42%) saturate(4152%) hue-rotate(66deg) brightness(101%) contrast(95%);
  --GREY-COLOR-FILTER: invert(75%) sepia(0%) saturate(48%) hue-rotate(171deg) brightness(91%) contrast(90%);
  --WHITE-COLOR-FILTER: invert(99%) sepia(1%) saturate(2423%) hue-rotate(166deg) brightness(120%) contrast(84%);
}

body {
  background-color: var(--BACKGROUND-COLOR);
  line-height: 1.5;
  font-size: var(--FONT-SIZE);
  font-family: var(--FONT-FAMILY);
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  color: var(--WHITE-COLOR);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--YELLOW-COLOR);
}

button {
  color: #fff;
  background-color: var(--BUTTON-COLOR);
  font-size: var(--FONT-SIZE);
  padding: 8px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

button:hover {
  background-color: #3e8e41;
  color: white;
}

input[type=number] {
  background-color: var(--INPUT-BACKGROUND-COLOR);
  padding: 4px 1px;
  border: solid var(--YELLOW-COLOR);
  border-radius: 5px;
  width: 10em;
}
h2 a {
  color: var(--YELLOW-COLOR);
}
a {
  color: var(--BLUE-COLOR);
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}
table {
  border-collapse: collapse;
  margin: 20px;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}
th, td {
  border: 1px solid var(--GREEN-COLOR);
  padding: 15px;
}
td {
  text-align: center;
}
td:first-letter {
  text-transform: uppercase;
}
tr:hover {
  background-color: Teal;
}

ul {
  list-style-image: linear-gradient(var(--YELLOW-COLOR), var(--YELLOW-COLOR));
}

blockquote {
color: var(--GREY-COLOR);
 padding-left:10px;
 border-left:1px dotted #666
}

/* Not inline code */
div.sourceCode {
  background:rgba(0,0,0,0.9);
  border:1px solid rgba(255,255,255,0.15);
  border-radius:2px;
  overflow-y:hidden;
  padding-left:10px;
}

/* Not inline code */
code.sourceCode {
  color: var(--WHITE-COLOR);
}

code {
  background: rgba(0,0,0,0.9);
  padding: 0px 3px;
  margin: 0px -3px;
  color: #aa759f;
  border-radius: 2px;
}

img {
 max-width:100%
}

.menu {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.svg-color {
  filter: var(--WHITE-COLOR-FILTER);
}
.svg-color:hover {
  filter: var(--GREY-COLOR-FILTER);
}
.publication-date {
  display: block;
  margin-top: -.5rem;
  color: var(--GREY-COLOR);
}
.icon-home {
  height: 32px;
  width: 32px;
}
.icon-home-color-filter {
  filter: var(--GREEN-COLOR-FILTER);
}
