:root {
  --BACKGROUND-COLOR: #1a1a1a;
  --BUTTON-COLOR: #4caf50;
  --FONT-SIZE: 16px;
  --FONT-FAMILY: sans-serif;
  --GREEN-COLOR: #30ec30;
  --GREY-COLOR: #9a9a9a;
  --INPUT-BACKGROUND-COLOR: #eee5e4;
  --TAG-A-COLOR: #63c0f5;
  --YELLOW-COLOR: #b5e853;
  --WHITE-COLOR: #eaeaea;
  --ICON-SOCIAL-NETWORK-COLOR-FILTER: invert(11%) sepia(92%) saturate(7411%) hue-rotate(286deg) brightness(109%) contrast(114%);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--YELLOW-COLOR);
}

button {
  color: #fff;
  background-color: var(--BUTTON-COLOR);
  font-size: var(--FONT-SIZE);
  padding: 8px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

button:hover {
  background-color: #3e8e41;
  color: white;
}

input[type=number] {
  background-color: var(--INPUT-BACKGROUND-COLOR);
  padding: 4px 1px;
  border: solid var(--YELLOW-COLOR);
  border-radius: 5px;
  width: 10em;
}
