:root {
  --BACKGROUND-COLOR: #1a1a1a;
  --FONT-SIZE: 16px;
  --FONT-FAMILY: sans-serif;
  --GREEN-COLOR: #30ec30;
  --INPUT-BACKGROUND-COLOR: #eee5e4;
  --TAG-A-COLOR: #63c0f5;
  --YELLOW-COLOR: #b5e853;
}

