@import url("base.css");

body {
  background-color: var(--BACKGROUND-COLOR);
  line-height: 1.5;
  font-size: var(--FONT-SIZE);
  font-family: var(--FONT-FAMILY);
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  color: var(--WHITE-COLOR);
}

table {
  border-collapse: collapse;
  margin: 20px;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

th, td {
  border: 1px solid var(--GREEN-COLOR);
  padding: 15px;
}

td {
  text-align: center;
}

td:first-letter {
  text-transform: uppercase;
}

tr:hover {
  background-color: Teal;
}

ul {
  list-style-image: linear-gradient(var(--YELLOW-COLOR), var(--YELLOW-COLOR));
}

/* TODO rm*/
a {
  color: var(--TAG-A-COLOR);
}

h2 a {
  color: var(--YELLOW-COLOR);
}

blockquote {
 color:#aaa;
 padding-left:10px;
 border-left:1px dotted #666
}

/* Not inline code */
div.sourceCode {
  background:rgba(0,0,0,0.9);
  border:1px solid rgba(255,255,255,0.15);
  border-radius:2px;
  overflow-y:hidden;
  padding-left:10px;
}

/* Not inline code */
code.sourceCode {
  color: var(--WHITE-COLOR);
}

code {
  background: rgba(0,0,0,0.9);
  padding: 0px 3px;
  margin: 0px -3px;
  color: #aa759f;
  border-radius: 2px;
}

img {
 max-width:100%
}

.flex-header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.icon-home {
  height: 32px;
  width: 32px;
}

.icon-home-color {
  color: var(--GREEN-COLOR);
}
.icon-home-color-filter {
  filter: var(--GREEN-COLOR-FILTER);
}
