@import url("base.css");

/* TODO
 * refactor. extract to common file for all files
 */
body {
  background-color: var(--BACKGROUND-COLOR);
  line-height: 1.5;
  font-size: var(--FONT-SIZE);
  font-family: var(--FONT-FAMILY);
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  color: var(--WHITE-COLOR);
}

a {
  text-decoration: none;
  color: var(--TAG-A-COLOR);
  text-shadow: 0 0 5px rgba(104,182,255,0.5);
  font-size: var(--FONT-SIZE);
}

.icon-social-network {
  width: 2rem;
  min-width: 2rem;
}
/* https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element
  color: #c700ff;
*/
.icon-social-network-color-filter {
  filter: invert(11%) sepia(92%) saturate(7411%) hue-rotate(286deg) brightness(109%) contrast(114%);
}
.menu {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--GREY-COLOR);
  column-gap: 1.5rem;
  flex-direction: row;
  justify-content: flex-start;
}
.menu-icons {
  margin-left: auto;
}
