@import url("base.css");

.menu {
  align-items: center;
  border-bottom: 1px solid var(--GREY-COLOR);
  column-gap: 1.5rem;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 20px;
}
.menu-icons {
  margin-left: auto;
}
.menu-icons img {
  width: 2rem;
  min-width: 2rem;
}
@media screen and (max-width: 930px) {
  .menu {
    flex-direction: column;
    row-gap: 1rem;
  }
  .menu-icons {
    margin-left: unset;
  }
}
