@import url("base.css");

/* TODO
 * refactor. extract to common file for all files
 */
body {
  background-color: var(--BACKGROUND-COLOR);
  line-height: 1.5;
  font-size: var(--FONT-SIZE);
  font-family: var(--FONT-FAMILY);
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  color: var(--WHITE-COLOR);
}

.menu {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--GREY-COLOR);
  column-gap: 1.5rem;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
}
.menu-icons {
  margin-left: auto;
}
.icon-social-network {
  width: 2rem;
  min-width: 2rem;
}
/* https://stackoverflow.com/questions/558721/css-classes-subclasses*/
.icon-social-network img {
  filter: var(--WHITE-COLOR-FILTER);
}
.icon-social-network img:hover {
  filter: var(--GREY-COLOR-FILTER);
}
@media screen and (max-width: 930px) {
  .menu {
    flex-direction: column;
    row-gap: 1rem;
  }
  .menu-icons {
    margin-left: unset;
  }
}
