@import url("../common-index-inner.css");

.description {
  margin-top: 0px;
}

.projectTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.image {
  height: 1.5rem;
  width: 1.5rem;
  min-width: 1.5rem;
}

/* https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element
  color: #e3e3e3;
*/
.side-icon-color-filter {
  filter: invert(100%) sepia(1%) saturate(720%) hue-rotate(27deg) brightness(118%) contrast(78%);
}
