@import url("../common-index-inner.css");

.description {
  margin-top: 0px;
}

.projectTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.image {
  height: 1.5rem;
  width: 1.5rem;
  min-width: 1.5rem;
}

.side-icon-color-filter {
  filter: var(--WHITE-COLOR-FILTER);
}
