@import url("../index.css");

body {
  background-color: var(--BACKGROUND-COLOR);
  color: var(--WHITE-COLOR);
  font-family: var(--FONT-FAMILY);
}

.description {
  margin-top: 0px;
}

.projectTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.image {
  height: 1.5rem;
  width: 1.5rem;
  min-width: 1.5rem;
}
